.custom-navbar {
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    border-top: 1px solid rgba(128, 128, 128, 0.361);
    /* margin: 0px 2rem; */
    /* margin-top: 2rem; */
    /* border-radius: 15px; */
    position: sticky;
    /* Makes it sticky */
    top: 0;
    /* Sticks to the top */
    z-index: 1000;
    /* Ensure it appears above other content */
    background-color: #fff;
    /* Optional: to ensure it doesn’t blend with content behind */
}

.navLink {
    font-size: 16px;
    color: #000;
    padding: 10px 0px;
}



.logo {
    height: 40px;
}